html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}

.selector {
  width: 95px;
}

.box-board {
  border: solid 3px black;
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box {
  border: solid 1px black;
  width: 40px;
  margin: 0px 10px;
  background-color: rgb(71, 136, 92);
}

.start-button {
  width: 75px;
  height: 25px;
  font-size: 16px;
}

.comparing {
  background-color: pink;
}

.sorted {
  background-color: khaki;
}

.finished {
  background-color: red;
}
