html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
}

img {
  width: 300px;
  height: 400px;
}

.selector {
  width: 95px;
}

.box-board {
  border: solid 3px black;
  width: 500px;
  margin: 100px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box {
  border: solid 1px black;
  width: 40px;
  background-color: rgb(71, 136, 92);
  margin: 0px 10px;
}

.comparing {
  background-color: pink;
}

.sorted {
  background-color: khaki;
}

.finished {
  background-color: red;
}

.hide {
  display: none;
}
